.field {
  background: #ffffff;
  border: 1px solid rgba(210, 214, 218, 0.98);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 10px !important;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 7px;
  width: 100%;
}
