.modulesPage {
  display: flex;
  
  //grid-row-gap: 40px;
  padding: 130px 10px;
  padding-bottom: 0px;
  height: 100%;
  overflow-y: auto;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;

}

.background {
  z-index: 1;
  position: fixed;
  width:100%;
  height: 100%;
  background-size: cover;
  background: url("../../assets/background.svg");
  background-color:  rgba(144, 178, 157, 0.2);;
  display: flex;
}
